body {
  background-color: salmon;
  color: seashell;
  font-family: monospace;
  font-size: 72px;
  margin: 100px 50px 75px 25px;
}
h1 {
  text-align: center;
}
p {
  text-transform: uppercase;
  color: seashell;
}
a {
  color: lightsalmon;
  font-size: 12px
  letter-spacing: 10px;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-transform: uppercase;
  color: seashell;
}
ul {
  list-style-type: none;
  padding: 100px;
}
li {
  padding: 10px
}
#images {
  background-color: #dddddd;
  margin: 0;
  text-align: center;
}
#images img {
  max-width: 100%;
  margin: 25px 0;
}
