body {
  background-color: white;
}
#container {
  width: 980px;
  height: 1028px;
  margin: auto;
  background-image: url(../image/brain_blank.png);
  background-repeat: no-repeat;
  background-size: contain;
  }
.brain {
  float: left;
  width: 980px;
  height: 1028px;
  margin: auto;
  }
.frontal {
  float: left;
  width: 635px;
  height: 586px;
  border-radius: 50%;
  background-color: red;
  opacity: 50%;
  }
.parietal {
  float: left;
  width: 500px;
  height: 358px;
  margin-left: -252px;
  }
.occipital {
  float: left;
  width: 364px;
  height: 383px;
  margin-left: -37px;
  margin-top: -175px;
  border-radius: 50%;
  }
.temporal {
  float: left;
  width: 611px;
  height: 298px;
  margin-left: -519px;
  margin-top: -200px;
  border-radius: 611px / 298px;
  transform: rotate(354deg);
  }
.cerebellum {
  float: left;
  width: 290px;
  height: 196px;
  margin-left: -150px;
  margin-top: -55px;
  border-radius: 290px / 196px;
  transform: rotate(350deg);
  }
