body {
  margin: 0;
  overflow-x: hidden;
  background: ;
}
.container {
 width: 110vw;
 margin: -50px -10%;
}
.block-1 {
  width: 0px;
  height: 0px;
  float: left;
  /*background-color: red;*/
  margin: 5px;
  border-top: 60px solid cyan;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid transparent;
}
.block-2 {
  width: 0px;
  height: 0px;
  float: left;
  /*background-color: red;*/
  margin: 5px;
  border-top: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid magenta;
  border-left: 60px solid transparent;
}
.block-3 {
  width: 0px;
  height: 0px;
  float: left;
  /*background-color: red;*/
  margin: 5px;
  border-top: 60px solid transparent;
  border-right: 60px solid rebeccapurple;
  border-bottom: 60px solid transparent;
  border-left: 60px solid rebeccapurple;
}
