body {
  margin: 0px auto;
  background-color: black;
}
/* font-family: montserrat,sans-serif;
font-weight: 400;
font-style: normal; */
/*
font-family: bungee,sans-serif;
font-weight: 400;
font-style: normal;

font-family: bungee,sans-serif;
font-weight: 500;
font-style: normal;

font-family: bungee,sans-serif;
font-weight: 600;
font-style: normal;

font-family: bungee,sans-serif;
font-weight: 700;
font-style: normal;

font-family: bungee,sans-serif;
font-weight: 800;
font-style: normal; */
h1 {
  font-family: bungee,sans-serif;
  font-weight: 400;
  color: #c1282d;
  font-size: 30pt;
  font-style: normal;
  line-height: 36pt;
}
h2 {
  font-family: bungee,sans-serif;
  font-weight: 500;
  color: #2baae2;
  font-size: 30pt;
  font-style: normal;
  line-height: 36pt;
}
h3 {
  font-family: bungee,sans-serif;
  font-weight: 600;
  color: #c1282d;
  font-size: 30pt;
  font-style: normal;
  line-height: 36pt;
}
h4 {
  font-family: bungee,sans-serif;
  font-weight: 700;
  color: #2baae2;
  font-size: 30pt;
  font-style: normal;
  line-height: 36pt;
}
h5 {
  font-family: bungee,sans-serif;
  font-weight: 800;
  color: #c1282d;
  font-size: 30pt;
  font-style: normal;
  line-height: 26pt;
}
h6 {
  font-family: bungee,sans-serif;
  font-weight: 800;
  color: #c1282d;
  font-size: 70pt;
  margin-left: -15px;
}
h7 {
  font-family: bungee,sans-serif;
  font-weight: 400;
  color: white;
  font-size: 15pt;
  line-height: 18pt;
  font-style: normal
}
h8 {
  font-family: bungee,sans-serif;
  font-weight: 600;
  color: white;
  font-size: 40pt;
  text-align: right;
  padding: 0px 35.6px 0px 35.6px;
}
h9 {
  font-family: bungee,sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20pt;
  line-height: 27pt;
  padding: 0px 35.6px 0px 35.6px;
}
h10 {
  font-family: bungee,sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30pt;
  line-height: 30pt;
  padding: 0px 35.6px 0px 35.6px;
}
h11 {
  font-family: bungee,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80pt;
  color: #c1282d;
  word-wrap: break-word;
  line-height: 100pt;
}
h12 {
  font-family: bungee,sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #c1282d;
  line-height: 144pt;
  font-size: 120pt;
  text-align: center;
}
h13 {
  font-family: bungee,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #2baae2;
  font-size: 50pt;
  line-height: 60pt;
  text-align: center;
}
h14 {
  font-family: bungee,sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #c1282d;
  line-height: 120pt;
  font-size: 100pt;
  text-align: center;
}
h15 {
  font-family: bungee,sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #c1282d;
  line-height: 50pt;
  font-size: 60pt;
  text-align: center;
}
p {
  font-family: montserrat,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 10pt;
  padding: 0px 35.6px 0px 35.6px;
}
.container {
  width: 320px;
}
.column {
  float: left;
  width: 71.2px;
  height: 890px;
  border-radius: 0%;
  border: 10px solid #2baae2;
  border-bottom: solid black;
  border-top: solid black;
}
.sign {
  float: left;
  width: 71.2px;
  height: 537.5px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.author {
width: 71.2px;
height: 179.2px;
}
.display {
  float: left;
  width: 178px;
  height: 900px;
  margin-left: 35.6px;
}
.bluebox {
  float: left;
  width: 320px;
  height: 400px;
  background-color: #2baae2;
}
.redbox {
  float: left;
  width: 320px;
  height: 400px;
  background-color: #c1282d;
}
.whitebox {
  float: left;
  width: 341.2px;
  height: 140.8px;
  background-color: white;
}
.specimen {
  width: 249.2px;
  background-color: transparent;
  float: left;
  margin-left: 35.6px;
}
.sample {
  float: left;
  overflow: scroll;
  width: 249.2px;
  height: 374.5px;
  background-color: white;
  margin: 0px 85.3px 100px 85.3px;
}
