body {
  background-color: #4f2942;
  margin: 100px 50px 75px 25px;
}
h1 {
  font-family: blenny, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  color: #F0EAD6;
  margin: 10px 100px 25px 100px;
  line-height: 1;
}
h2 {
  font-family: ff-basic-gothic-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  color: #F0EAD6;
  margin: 0px 100px 100px 100px;
  line-height: 1;
  }
p {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    color: #F0EAD6;
    margin: 0px 200px 25px 200px;
  }
  a {
    color: goldenrod;
    font-size: 90px
    letter-spacing: 25px;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover {
    color: #F0EAD6;
  }
