body {
  color: goldenrod;
}
.container {
  width: 900px;
  margin: 100px auto;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  float: left;
}
.square {
  width: 100px;
  height: 100px;
  float: left;
  background-color: black;
}
.container2{
  width: 900px;
  margin: 100px auto;
}
.squarey {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.triangle1 {
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid black;
  border-top: 20px solid transparent;
  margin: 0px 0px 0px -60px;
  float: left;
}
.triangle2 {
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid black;
  border-top: 20px solid transparent;
  float: left;
}

.circle2 {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  float: left;
  margin: 0px 0px 0px -60px;
  }
