body {
  margin: 0;
  overflow-x: hidden;
  background-color: #e06377;
}
.container {
 width: 110vw;
 margin: -50px -10%;
}
.block-1, .block-2, .block3 {
  width: 100px;
  height: 100px;
  float: left;
  /* opacity: .7; */
  /*border-radius: 50%;
  border: 10px solid black;*/
}
.block-1 {
  border-radius: 10%;
  border: 10px solid #ffffff;
  width: 200px;
  height: 200px;
  border-color: pink;
  margin: 50px;
}
.block-2 {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: -50px;
  opacity: .7
}
.block-3 {
  border-radius: 112%;
  border: 10px solid #ffffff;
  float: left;
  width: 200px;
  height: 200px;
  border-color: #white;
  margin: 50px;
}
